body{
    margin: 0;
}
.task1 header{
    background-color: rgb(13 181 228);
    border: none;
    padding: 20px;
    color: white;
}
*{
    padding: 0;
}
a{
    border: none;
    background-color: rgb(24 177 219);
    border-radius: 15%;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 20px;
    text-decoration: solid;
    color: white;
}
.task1 footer{
    margin-top: 45px;
}
.task1 main{
    margin-left: 30px;
    margin-right: 25px;
}
h2{
    margin-bottom: 15px;
}
.task1 main p{
    color: rgb(0,0,0, .5);
}
.task2 header{
    text-align: center;
}
.task2 header p{
    color: rgb(0,0,0, .5);
    margin-bottom: 30px;
}

#left{
    float: left;
    margin-right: 25px;
    margin-bottom: 45px;
}
#right{
    float: right;
    clear: both;
    margin-left: 25px;
}
#da{
    
    clear: left;
}
.task2 main{
    margin-left: 30px;
    margin-right: 25px;
}
.task2 p{
    margin-bottom: 50px;
    color: rgb(0,0,0, .5);
}


